{
  "openapi": "3.1.0",
  "info": {
    "title": "Plant Store API",
    "description": "A RESTful API for managing a plant store inventory. Supports creating, listing, and deleting plants with webhook notifications for new additions.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.mintlify.com",
      "description": "Sandbox environment"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/plants": {
      "get": {
        "summary": "List all plants",
        "description": "Returns all plants from the system that the user has access to. Results can be limited using the `limit` query parameter.",
        "operationId": "listPlants",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return. If omitted, all plants are returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of plants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlantWithId"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "name": "Snake Plant",
                    "tag": "indoor"
                  },
                  {
                    "id": 2,
                    "name": "Monstera Deliciosa",
                    "tag": "tropical"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": 400,
                  "message": "Invalid limit parameter"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new plant",
        "description": "Creates a new plant in the store. The server assigns a unique ID to the plant on creation.",
        "operationId": "createPlant",
        "requestBody": {
          "description": "Plant object to add to the store",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Plant"
              },
              "example": {
                "name": "Fiddle Leaf Fig",
                "tag": "indoor"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The newly created plant with its assigned ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlantWithId"
                },
                "example": {
                  "id": 12,
                  "name": "Fiddle Leaf Fig",
                  "tag": "indoor"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": 400,
                  "message": "Name field is required"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "summary": "Delete a plant",
        "description": "Permanently deletes a single plant based on the ID supplied. This action cannot be undone.",
        "operationId": "deletePlant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant successfully deleted"
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": 400,
                  "message": "Plant with the specified ID was not found"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "summary": "New plant notification",
        "description": "Sent when a new plant is added to the store. Your endpoint should return a 200 status code to acknowledge receipt.",
        "operationId": "newPlantWebhook",
        "requestBody": {
          "description": "The plant that was added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlantWithId"
              },
              "example": {
                "id": 12,
                "name": "Fiddle Leaf Fig",
                "tag": "indoor"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "description": "A plant object used for creating new entries",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string",
            "example": "Snake Plant"
          },
          "tag": {
            "description": "Tag to categorize the plant type (e.g., indoor, outdoor, tropical)",
            "type": "string",
            "example": "indoor"
          }
        }
      },
      "PlantWithId": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "description": "Unique identifier assigned by the server",
                "type": "integer",
                "format": "int64",
                "example": 1
              }
            }
          }
        ],
        "description": "A plant object returned from the API, including its server-assigned ID"
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "description": "Error response returned when a request fails",
        "properties": {
          "error": {
            "description": "HTTP status code of the error",
            "type": "integer",
            "format": "int32",
            "example": 400
          },
          "message": {
            "description": "Human-readable description of what went wrong",
            "type": "string",
            "example": "Unexpected error occurred"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authenticate using a Bearer token in the Authorization header"
      }
    }
  }
}
